<h1>Show Message</h1>

<p>
  <b>日時:</b>
  <%= @message.created_at %>
</p>

<p>
  <b>お店:</b>
  <%= @message.shop.name %>
</p>

<p>
  <b>タイトル:</b>
  <%= @message.title %>
</p>

<p>
  <b>メッセージ:</b>
  <%= @message.content %>
</p>

