<div class="fav-restaurant listing-item-box" id="fav-restaurant">
  <div class="row-fluid">
    <div class="img-unit span3">
      <%= image_tag 'dessert-02.jpg', class: 'img' %>
    </div>
    <div class="restaurant-left span9">
      <div>
        <span class="listing-title"><%= shop.name %></span>
      </div>
      <div>
        <span>常連Level : <span class="red">超VIP</span></span><br>
        <span>最後に食事した日 : 6月12日</span>
      </div>
      <div class="status">
        <span class="status-element"><i class="icon-star-empty"></i>23</span>
        <span class="status-element"><i class="icon-user"></i>23</span>
        <span class="status-element status-element-last"><i class="icon-comment"></i>23</span>
      </div>
      <div>
        <span class="btn btn-ex">クイック予約</span>
      </div>
    </div>
  </div>
  <!-- Fotter -->
  <div class="fotter row-fluid">
      <div class="status-mini">
        <span class="status-element"><i class="icon-star-empty"></i>23</span>
        <span class="status-element"><i class="icon-user"></i>23</span>
        <span class="status-element status-element-last"><i class="icon-comment"></i>23</span>
      </div>
      <div class="pull-right">
        【!】ボトルキープ中
      </div>
  </div><!-- Fotter end -->
</div>

