$linkColor :#888888;


$contents-left-padding: 20px;
/*
$black: #000000;
$grayDarker:            lighten($black, 16%);
$grayDark:              lighten($black, 32%);
$gray:                  lighten($black, 48%);
$grayLight:             lighten($black, 64%);
$grayLighter:           lighten($black, 80%);
$grayLightest:          lighten($black, 91%);
$white:                 lighten($black, 96%);
$trueWhite:             #ffffff;

$bodyBackground:        $grayLightest;
$linkColor: $grayDark;
*/
