/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'app_valiables';
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bootstrap_customize';

@import './public/common';
//want
.date-selector{
    width: 70px;
}

.fav-restaurant{
  @extend .well;
  @include border-radius(0px);
  padding: 5px 10px; 

  .img-unit{
    padding-right: 10px;
  }
  .status-mini{
    display: none;
    color: $gray;
  }
  .status{
    display: block;
  }

  .img{
    @include border-radius(4px);
    border-width: 1px;
    border-style: solid;
    border-color: $grayLight;
    width: 100%;
    max-width: 150px;
  }

  .fotter{
    margin-top: 5px;
    @include zurui-line-top;
  }

  .status-element{
    color: $gray;
    height: 100%;
    @include zurui-line-right;
    padding-right: 10px;
    margin-right: 10px;

  }
  
  .status-element-last{
    border-width: 0px;
  }

}

