/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'app_valiables';
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bootstrap_customize';

@import './public/common';
//want
.date-selector{
    width: 70px;
}


$favorite_tab_bg: #ffffff;
#home-tab{
  .nav-tabs{
    border-color: $gray;
    margin-bottom: 0px;
    .active{
      a{
        border-color: $gray;
        border-bottom-color: transparent;
        background-color: $favorite_tab_bg;
      }
    }
  }
  .tab-content{
    border-color: $gray;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    background-color: $favorite_tab_bg;
    padding: 20px 15px;
  }
}

.fav-restaurant{

  .status-mini{
    float: left;
    display: none;
    color: $gray;
  }

  .status{
    color: $gray;
    display: block;
  }

  .img{
    max-width: 150px;
  }


  .status-element{
    color: $gray;
    height: 100%;
    @include zurui-line-right;
    padding-right: 10px;
    margin-right: 10px;
  }
  
  .status-element-last{
    border-width: 0px;
  }
  
  .answer-box{
    @extend .box-base;
    text-align: center;
    span { color: $gray; }
    a { color: $black; }
  }
  .answer{
    font-size: 16px;
  }

}

@media screen and (max-width: 767px) {

  #vis-listing{
    .img-unit {
      @extend .layout-div;
      width: 30%;
    }
  }


  #fav-restaurant {
    .img-unit {
      @extend .layout-div;
      width: 30%;
    }
    .restaurant-left{
      @extend .layout-div;
      width: 70%;
    }
    .status-mini{
      display: block;
    }
    .status{
      display: none;
    }
  }
}
